<form asp-action="UploadExcel" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="excelFile" />
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
