@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<form asp-action="ProcessInsert" method="post">
    <label>Title</label> <br>
    <input type="text" name="title" class="form-control"> <br>
    <label>Body</label> <br>
    <textarea name="body" class="form-control"></textarea> <br>
    <button class="btn btn-default">Submit</button>
</form>
</div>
