@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Required</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>Error: You should log in first!</h1>
        <p>Please log in to access this page.</p>
        <a class="btn btn-primary" href="@Url.Action("Login", "Home")">Login Page</a>
    </div>
</body>
</html>
